@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Lexend", sans-serif;
}

header {
    text-align: center;
}


.game-ui {
    display: flex;
    justify-content: center;
}
.game-container {

    width:fit-content;
    display: grid;
    margin:0 4rem 0 4rem;
    grid-template-columns: 13rem 13rem 13rem;
    
}

.box {
    height:200px;
    border-radius: 10px;
    font-size: 4rem;
}

.player1-turn,
.player2-turn {
    align-self: center;
    font-size: 5rem;
}

.player2-turn {
    visibility: hidden;
}


